
body{

    text-align:center;
    margin: 0;
    padding: 0;
    font-family: 'Potta One', cursive;
    font-family: 'Roboto', sans-serif;
}
input[type="email"], input[type="password"],input[type="text"]{
    outline: none;
    padding: 10px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
input[type="submit"]{
    padding: 20px;
    color: white;
    background: #ff7f07;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: coral;
}
header{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
header{
    text-decoration: none;
    color: #333;
}


